{% extends "base.html" %}
{% block title %}Page Ajout d'un produit{% endblock%}






{% block content %}
<link type="text/css" rel="stylesheet" href="static/css/style_connexion.css">

<div class="container">
    <div class="row" style="justify-content: center;">
        <div class="col-lg-4">
            <div class="login-form">
                <form action="/updateProducts" method="post">
                    <h2 class="text-center">Modifier un produit</h2>
                    <div class="form-group">
                        <input type="hidden" name="id" class="form-control" value="{{leProduit.id}}" placeholder="ID"
                            required="required">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="code" class="form-control" value="{{leProduit.code}}"
                            placeholder="Code produit" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" name="marque" class="form-control"  value="{{leProduit.marque}}"placeholder="Marque">
                    </div>
                    <div class="form-group">
                        <input type="text" name="modele" class="form-control" value="{{leProduit.modele}}" placeholder="Modèle">
                    </div>
                    <div class="form-group">
                        <input type="text" name="coloris" class="form-control" value="{{leProduit.coloris}}" placeholder="Coloris">
                    </div>
                    <div class="form-group">
                        <input type="number" name="prix" class="form-control" value="{{leProduit.prix}}" placeholder="Prix">
                    </div>
                    <div class="form-group">
                        <input type="file" name="image" class="form-control" value="{{leProduit.image}}" placeholder="Image produit">
                    </div>
                    <div class="form-group p-0">
                        <button type="submit" value="Envoyer" class="btn btn-primary btn-block p-0">Modifier un
                            produit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}